<link rel="stylesheet" href="/css/style2.css">
<center>

    <h1 id="logo" class="logo">SeekClass</h1>
  </center>
<Form action="/cadastrar", method="POST">
    <div class="form">
        <input type="text" placeholder="Nome" name="nome"/></br>
        <input type="text" placeholder="Email" name="email"/></br>
        <button type="submit" onclick="login()">Criar</button></br>
    </div>
</Form>