

<center>
    <div>
        <table border="1" class="tbHorario">

            <tr border="1">
                <th>Horário</th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>
            </tr>
            <tr>
                <th name="1h">14hs as 15hs</br> 19hs as 20hs</th>

                <td name="seg1h" id="seg1h">{{materia}}</td>
                <td name="ter1h"></td>
                <td name="qua1h"></td>
                <td name="qui1h"></td>
                <td name="sex1h"></td>
                <td name="sab1h"></td>

            </tr>
            <tr>
                <th name="1h">15hs as 16hs</th>
                <td></td>
                <td></td>
                <td>Comércio Eletrônico</td>
                <td>Trabalho de conclusão de curso</td>
                <td>Estatística</td>
                <td></td>
            </tr>

            <tr>
                <th>18h30 as 20h</th>
                <td>Tópicos em TI</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th>20h20 as 22h</th>
                <td>Tópicos em TI</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>



        </table>

    </div>
</center>
