
<link rel="stylesheet" href="/css/style2.css">
<center>

    <h1 id="logo" class="logo">SeekClass</h1>
  </center>
<Form action="/definirsenha", method="POST">  
    <div class="form">
        <input type="text" placeholder="Digite o e-mail" name="email" required/>
        <input type="password" placeholder="Digite a senha" name="senha" required/>
        <input type="password" placeholder="Confirmar senha" name="csenha" required/>
        <button type="submit" onclick="login()">Confirmar</button></br>
    </div>
    
</Form> 
