<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"><b class="titulo">SeekClass</b></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>



<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        Menu
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Painel de horário</a></li>
        <li><a class="dropdown-item" href="#">Professores</a></li>
        <li><a class="dropdown-item" href="#">Mapa</a></li>
    </ul>
</div>






<center>
    <div>
        <table border="1">
            <tr>
                <td>Horário</td>
                <td>Segunda</td>
                <td>Terça</td>
                <td>Quarta</td>
                <td>Quinta</td>
                <td>Sexta</td>
                <td>Sábado</td>
            </tr>
            <tr>
                <td>14h as 16h</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>16h20 as 18h</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>18h30 as 20h</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>20h20 as 22h</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>



        </table>

    </div>
</center>