<div class="login-page">
    <div class="form">
        <form action="/auth" method="POST">
            <input type="text" placeholder="Email" name="email"/>
            <input type="password" placeholder="Senha" name="senha"/>
            <button type="submit" onclick="login()">Login</button>
        </form>
        <p class="message"> <a href="http://localhost:8080/first" >Primeiro acesso?</a></p>
        <p class="message"> <a href="http://localhost:8080/cadastrar" >Cadastar</a></p>
    </div>
  </div>