<Form action="/", method="GET">  
    <div class="form">
        <input type="text" placeholder="Digite o e-mail" />
        <input type="password" placeholder="Digite a senha" />
        <input type="password" placeholder="Confirmar senha" />
        <a href="http://localhost:8080"><button onclick="login()">Confirmar</button></a>
    </div>
    
</Form> 